<div class="app-content">
  <div class="title">
    <div>环境:{{ environmentName }}</div>
    <div>API地址: {{ apiBase }}</div>
  </div>
  <h3>{{ offline }}</h3>
  <div class="title">
    Welcome to Angular Animations!!
  </div>

  <button (click)="pushItem()" [@myAnimation]="state">Add item</button>
  <button (click)="removeItem()">Remove item</button>
  <ul class="ui-list" [@listAnimation]="posts.length">
    <li class="ui-list-item" *ngFor="let post of posts">
      {{ post.title }}
    </li>
  </ul>
</div>
