
.ui-list-item {
  background: #eee;
  margin-bottom: 10px;
  padding: 1em;
}

button {
  background: #347eff;
  border: none;
  color: #fff;
  margin: 0 10px 20px 0;
  outline: none;
  padding: 10px;
}
