.app-content {
  padding: 15px;
}

.github-bio {
  margin-bottom: 20px;
  texgt-align: center;
}

.avatar {
  margin-bottom: 15px;
  text-align: center;
}

.text-list {
  text-align: center;
}

.text-list li {
  width: 100%;
}
