
.app-content {
  padding: 0 15px;
}

.sign-form {
  margin: 20px auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 5px;
  display: block;
}

.input-control {
  display: block;
  height: 30px;
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-button {
  background-color: #347eff;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  outline: 0 none;
  border: 0 none;
  font-size: 14px;
}
