.app-content {

}

.ux-form {
  margin: 20px 0 5px 20px;
}

.input {
  outline: 0 none;
  border: 1px solid #aaa;
  padding: 5px;
  height: 30px;
  line-height: 30px;
  width: 200px;
  font-size: 16px;
}

.ux-form-tips {
  margin: 0 0 20px 20px;
}
